name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch: # allows manual trigger

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, nightly, 1.72.0]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        components: rustfmt, clippy
        override: true
    - name: Install cargo-make
      run: |
        cargo install cargo-make
    - name: Check code formatting
      run: |
        cargo make ci-fmt
    - name: Linter
      run: |
        cargo make ci-lint
    - name: Test
      run: |
        cargo make ci-test
    - name: Test openweather
      shell: bash
      env:
        APIKEY: ${{ secrets.OPENWEATHER_CI_APIKEY }}
      run: |
        cargo run configure openweather apikey=$APIKEY
        cargo run get -p openweather Washington
    - name: Test weatherapi
      shell: bash
      env:
        APIKEY: ${{ secrets.WEATHERAPI_CI_APIKEY }}
      run: |
        cargo run configure weatherapi apikey=$APIKEY
        cargo run get -p weatherapi Washington
